<settings>

    <category label="Add BassFox Source">
    <setting id="new_url_source" type="text" label="Add URL" default="http://matubasshunter.hostei.com/listamatubasshunter.xml" visible="eq(-2,1)"/>
    <setting type="sep" />
    <setting type="action" label="añadir lista de canales " option="close" action="RunPlugin(plugin://plugin.video.BassFox/?mode=7)" />
    <setting type="sep" />
  
  </category>
  </settings>
